<div class="row mb-2">
  <div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0"><%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
        <div class="mb-1 text-muted">Weight: <%= current_user.height %></div>
        <p class="card-text mb-auto">Last BMI: <%= current_user.bmi_calculations.last.try(:index) %></p>
        <p class="card-text mb-auto"></p>
        <div class="d-flex mt-4">
          <a href="<%= edit_user_registration_path %>" class="btn btn-flat">Edit profile</a>
          <a href="<%= new_bmi_calculations_path %>" class="btn btn-primary">Register new BMI</a>
        </div>
      </div>
      <div class="col-auto d-none d-lg-block">
      </div>
    </div>
  </div>
</div>
